@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}